<!DOCTYPE html>
<html lang="{{site_lang}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap">
    <link rel="stylesheet" href="/style/skeleton.css">
    <link rel="stylesheet" href="/style/chimera.css">
    <link rel="stylesheet" href="/style/site.css">
    {% if has_code == true -%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/{{highlight_style}}.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    {% if code_languages -%}
    {% for lang in code_languages -%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/languages/{{lang}}.min.js"></script>
    {% endfor -%}
    {% endif %}
    <script>hljs.highlightAll();</script>
    {% endif -%}
    <script>
      function showNavMenu() {
        document.getElementById("myDropdown").classList.toggle("show");
      }
      window.onclick = function(event) {
        console.log(`Click on ${event.target.id}`);
        if (event.target.id != 'menu-button') {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          var i;
          for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }
    </script>
    {%- include "site-header.html" -%}
  </head>
  <body>
    <nav>
      <div class="nav-overlay"></div>
      <div class="title">
        <a href="/">{{site_title}}</a>
      </div>
      <div class="search">
        <form action="/search" method="get" style="display: flex;flex-wrap: nowrap;">
          <input id="query" name="query" type="search" placeholder="Search...">
            <label style="display: initial;">
              <input type="image" src="/icon/search.svg" alt="search" width="32" height="32">
            </label>
        </form>
      </div>
      <div class="mobile-search">
        <a href="/search">
          <img class="search-icon" src="/icon/search.svg" alt="search" width="32" height="32">
        </a>
      </div>
    </nav>
